<ion-header>
  <ion-navbar>
    <ion-buttons left *ngIf="lastCommune != ''">
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="selectedCommune != ''">
      <div text-center>
        {{ selectedCommune }}<span *ngIf="selectedRegion != ''">, {{ selectedRegion }}</span>
      </div>
    </ion-title>
    <ion-searchbar
     [ngModel]="selectedRegion"
     (ionInput)="getItems($event)"
     (ionFocus)="prepareRegions()"
     (ionClear)="itemOnClear($event)"
     *ngIf="selectedCommune == ''"
     placeholder="Busque una regi&#xf3;n"
     #regionSearchbar>
    </ion-searchbar>
    <ion-searchbar
     [ngModel]="selectedCommune"
     (ionInput)="getSubitems($event)"
     *ngIf="selectedRegion != '' && selectedCommune == ''"
     placeholder="Busque una comuna">
    </ion-searchbar>
    <ion-buttons end *ngIf="selectedCommune != ''">
      <button ion-button icon-only (click)="searchAgain()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab (click)="getCheapestServStsFromWhereIAm()" [disabled]="locating">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
  <ion-list no-margin *ngIf="selectedCommune == '' && !lookingForRegions">
    <ng-container *ngIf="selectedRegion == ''">
      <button class="button-search-result" ion-item *ngFor="let item of items" no-padding
       (click)="selectRegion(item)" detail-none>
        {{ item.nombre }}
      </button>
    </ng-container>
  </ion-list>
  <div text-center padding
   *ngIf="lookingForRegions || lookingForRegionCommunes"
   [ngStyle]="{'margin-top': lookingForRegionCommunes ? setSubitemListMarginTop() : '0'}">
    <ion-spinner>
    </ion-spinner>
  </div>
  <ion-list *ngIf="selectedRegion != '' && selectedCommune == '' && !lookingForRegionCommunes"
   [ngStyle]="{'margin-top': !lookingForRegionCommunes ? setSubitemListMarginTop() : '0'}"
   style="margin-bottom: 0;">
    <button class="button-search-result" ion-item *ngFor="let subitem of subitems" no-padding
     (click)="searchForCity(subitem)" detail-none>
      {{ subitem.nombre }}
    </button>
  </ion-list>
  <!-- Map -->
  <div #map id="map" style="height: 40%;"></div>
  <div text-center text-wrap style="padding: 32px 16px;"
   *ngIf="selectedCommune && cheapestServStations.length < 1 && !searching && !locating">
    <span style="font-size: large;">
        CNE no registra bencineras en la comuna de {{ selectedCommune }} o error de conexi&#xf3;n. Vuelva a intentarlo.
    </span>
  </div>
  <!-- -->
  <ion-list>
    <ion-list-header *ngIf="selectedCommune != '' && cheapestServStations.length > 0" no-margin>
      Bencineras m&#xe1;s econ&#xf3;micas por tipo
    </ion-list-header>
    <button ion-item class="button-servstation " no-padding
     *ngFor="let st of cheapestServStations" (click)="showStation(st)">
      <div item-start padding-horizontal
       style="font-size: 1.5em; font-weight: bold; margin: 0;">
        {{ st.type }}
      </div>
      <ion-row align-items-center>
        <ion-col col-9>
          <h2>{{ st.station.distribuidor.nombre }}</h2>
          <p text-wrap>{{ st.station.direccion_calle }}</p>    
        </ion-col>
        <ion-col col-3>
          <div text-right>
            <h2>${{ st.station.precios['gasolina ' + st.type] }}</h2>
          </div>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>
