page-home {
  .button-search-result .label {
    margin: 0 0 0 13px;
  }

  .button-servstation .label {
    margin: 0;
  }

  ion-app._gmaps_cdv_.nav-decor {
    background-color: rgba(0,0,0,0);
  }
}
